<% issues.each do |issue| %>
  <div class="row">
    <ul class="col-1 list-admin"><%= link_to "#{issue.github_id}", admin_repository_issue_path(@repository.name, issue) %></ul>
    <ul class="col-3 list-admin"><%= issue.title %></ul>
    <ul class="col-2 list-admin"><%= issue.github_account %></ul>
    <ul class="col-2 list-admin"><%= issue.assignee %></ul>
    <ul class="col-2 list-admin"><%= issue.started_at %></ul>
    <ul class="col-1 list-admin"><%= issue.labels %></ul>
    <ul class="col-1 list-admin"><%= issue.status %></ul>
  </div>
<% end %>
