<% issues.order_by_newest.each do |issue| %>
  <tr>
    <td><%= link_to "#{issue.github_number}", admin_repository_issue_path(@repository.name, issue) %></td>
    <td><%= issue.title %></td>
    <td><%= issue.github_account %></td>
    <td><%= issue.assignee %></td>
    <td><%= issue.started_at.strftime("%d/%B/%Y") %></td>
    <td><%= issue.labels %></td>
    <td><%= issue.status %></td>
  </tr>
<% end %>
