<%= button_to "Actualizar", admin_repository_issue_path(@repository.id, @issue.id), method: :put %>

<p><%= @issue.title %></p>
<p><%= @issue.github_account %></p>
<p><%= @issue.description %></p>
<p><%= @issue.assignee %></p>
<p><%= @issue.started_at %></p>
<p><%= @issue.labels %></p>
<p><%= @issue.status %></p>
<p><%= @issue.started_at %></p>
<p><%= @issue.github_number %></p>
<p><%= @issue.github_id %></p>
