%h1.text-center= @organization.name

%div
  %ul
    %li= link_to "Github", "https://github.com/IcaliaLabs", class: "button", target: "_blank"
    %li= link_to "Homepage", "http://www.icalialabs.com/", class: "button", target: "_blank"


%p
  %h3= "# Repositories: #{@organization.total_repos}" 

%table
  %thead
    %th Name
    %th Open Issues & Pull Requests
    %th Forks count
    %th Stargazers
  %tbody
    - @repositories.each do |repository|
      %tr
        %td= link_to repository.name, repository_path(name: repository.name)
        %td= repository.open_issues_and_pull_requests_count
        %td= repository.forks_count
        %td= repository.stargazers
        
