%h2.text-center= @repository.name

%div
  %h3
    Open Issues:
    = "#{@issues.count}"

  %table
    %thead
      %th Title
      %th Author
      %th Created at
      %th Labels
    %tbody
      - @issues.each do |issue|
        %tr
          %td= link_to issue.title, issue_link(@repository.name, issue.number), target: "_blank"
          %td= issue.author
          %td= l issue.created_at, format: :default
          %td= issue.labels

%div
  %h3
    Open Pull Requests:
    = "#{@pull_requests.count}"

  %table
    %thead
      %th Title
      %th Author
      %th Created at
      %th Labels
    %tbody
      - @pull_requests.each do |pull_request|
        %tr
          %td= link_to pull_request.title, pull_request_link(@repository.name, pull_request.number), target: "_blank"
          %td= pull_request.author
          %td= l pull_request.created_at, format: :default
          %td= pull_request.labels
