<div class="container">
  <h1 class="title-admin">Repositories</h1>
  <div class="refresh-icon">
  <%= link_to image_tag("refresh-icon.png"), update_all_admin_repositories_path, class: "pull-right", method: :put %>
  </div>
  <div class="table-admin">
    <div class="table-header row">
      <p class="table-admin-title col-6">Repositories</p>
      <p class="table-admin-title col-2">Issues</p>
      <p class="table-admin-title col-2">Pull Requests</p>
      <p class="table-admin-title col-2">Commits</p>
    </div>
    <% @repositories.each do |repo|%>
      <div class="row">
        <ul class="col-6 list-admin">
          <li class="data-first"><%= link_to repo.name, admin_repository_path(repo.name) %></li>
        </ul>
        <ul class="col-2 list-admin">
          <li class="data-admin"><%= link_to repo.issues.count, admin_repository_issues_path(repo.name) %></li>
        </ul>
        <ul class="col-2 list-admin">
          <li class="data-admin"><%= link_to repo.pull_requests.count, admin_repository_pull_requests_path(repo.name) %></li>
        </ul>
        <ul class="col-2 list-admin">
          <li class="data-admin"><%= link_to repo.commits.count, admin_repository_commits_path(repo.name) %></li>
        </ul>
      </div>
    <%end%>
  </div>
</div>
