<%= button_to 'Update', admin_repositories_update_repositories_path(params: {repo_name: @repository.name}) %>

<h1> <%= @repository.name %> </h1>
<p> <b> stars: </b> <%= @repository.stars %> </p>
<p> <b> forks_count: </b><%= @repository.forks_count %> </p>
<p> <b> started at: </b><%= @repository.started_at %> </p>
