<% pull_requests.order_by_newest.each do |pull_request| %>
  <tr>
    <td><%= link_to "#{pull_request.github_number}", admin_repository_pull_request_path(@repository.name, pull_request) %></td>
    <td><%= pull_request.title %></td>
    <td><%= pull_request.github_account %></td>
    <td><%= pull_request.assignee %></td>
    <td><%= pull_request.started_at.strftime("%d/%B/%Y") %></td>
    <td><%= pull_request.labels %></td>
    <td><%= pull_request.status %></td>
  </tr>
<% end %>
