<%= button_to "Actualizar", admin_repository_pull_request_path(@repository.name, @pull_request.id), method: :put %>

<p><strong>Title:</strong><%= @pull_request.title %></p>
<p><strong>Account:</strong> <%= @pull_request.github_account %></p>
<p><strong>Description:</strong> <%= @pull_request.description %></p>
<p><strong>Assignee:</strong> <%= @pull_request.assignee %></p>
<p><strong>Created at:</strong> <%= @pull_request.started_at %></p>
<p><strong>Labels:</strong> <%= @pull_request.labels %></p>
<p><strong>Status:</strong> <%= @pull_request.status %></p>
<p><strong>GitHub Number:</strong> <%= @pull_request.github_number %></p>
<p><strong>GitHub ID:</strong> <%= @pull_request.github_id %></p>
