<table>
  <tr>
    <th>SHA</th>
    <th>Author</th>
    <th>Message</th>
    <th>Date</th>
    <th>Added Lines</th>
    <th>Deleted Lines</th>
    <th>Total Lines</th>
  </tr>
  <% @commits.order_by_newest.each do |commit| %>
  <tr>
    <td><%= link_to commit.sha, "https://github.com/#{ENV["github_organization"]}/#{@repository.name}/commit/#{commit.sha}", :target => "_blank" %></td>
    <td><%= commit.author %></td>
    <td><%= commit.message %></td>
    <td><%= commit.committed_at.strftime("%d/%B/%Y") %></td>
    <td><%= commit.additions.to_i %></td>
    <td><%= commit.deletions.to_i %></td>
    <td><%= commit.total.to_i %></td>
  </tr>
  <% end %>
</table>
