<div class="table-header row">
    <p class="table-admin-title col-2">SHA</p>
    <p class="table-admin-title col-4">Message</p>
    <p class="table-admin-title col-2">Author</p>
    <p class="table-admin-title col-2">Date</p>
    <p class="table-admin-title col-1">Added</p>
    <p class="table-admin-title col-1">Deleted</p>
</div>
  <% @commits.each do |commit| %>
   <div class="row">
    <ul class="col-2 list-admin"><%= link_to commit.sha.truncate(20), "https://github.com/#{ENV["github_organization"]}/#{@repository.name}/commit/#{commit.sha}", :target => "_blank" %></ul>
    <ul class="col-4 list-admin"><%= commit.message.truncate(45) %></ul>
    <% if commit.author %>
      <ul class="col-2 list-admin"><%= commit.author %></ul>
    <% else %>
       <ul class="col-2 list-admin">null</ul>
    <% end %>
    <ul class="col-2 list-admin"><%= commit.committed_at.strftime("%d/%B/%Y") %></ul>
    <ul class="col-1 list-admin"><%= commit.additions.to_i %></ul>
    <ul class="col-1 list-admin"><%= commit.deletions.to_i %></ul>
  </div>
  <% end %>
  