
<div class="container">
  <h1 class="title-admin-table">Commits</h1>
  <section class="commits-header">
    <div class="branch-section">
      <%= form_tag(admin_repository_commits_path, method: "GET") do %>
      <p>Branch: </p>
      <%= select_tag :branch_id, options_for_select(branches_combo(@repository.branches), "master"), id: "find_by_branch" %>
  	</div>
  	<div class="calendar">
      <div class="calendar-circle since-date-picker">
        <span class="calendar-day">Since</span>
        <span class="calendar-month">Date</span>
        <%= hidden_field_tag :since, params[:since], as: :date_picker, class: "since_field" %>
      </div>
      <div class="calendar-line"></div>
      <div class="calendar-circle until-date-picker">
        <span class="calendar-day">Until</span>
        <span class="calendar-month">Date</span>
        <%= hidden_field_tag :until, params[:until], as: :date_picker, class: "until_field" %>
      </div>
      <%= submit_tag 'search', class:"search-button" %>
      <% end %>
    </div>
  </section>
  <div class="table-admin align">
<div id="commits">
  <%= render 'commits' %>
</div>
</div>
