<html lang="en">

<head>
  <!--includes meta tags, title and more header definitions-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

  <title>Watcher</title>

  <!-- Furatto core CSS -->
  <%= stylesheet_link_tag "application", :cache => true %>
  <%= csrf_meta_tag %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <%= javascript_include_tag "application" %>
  <nav class="navigation-bar">
    <ul class="brand-section">
      <li class="brand-name"><%= link_to "Watcher", root_path, class: "menu-trigger" %></li>
    </ul>

    <ul class="pull-right">
      <% if current_user %>
        <li><%= current_user.email %></li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </ul>
  </nav>

  <% if current_user %>
    <ul class="navigation">
      <%= link_to "Repositorios", admin_repositories_path %>
      <li class="divider"></li>
      <%= link_to "Usuarios", admin_users_path %>
      <li class="divider"></li>
      <%= link_to "Settings", edit_admin_user_path(current_user) %>
    </ul>
  <% end %>

  <div class="contaner", style= "padding: 0 50px;">
      <%= yield %>
  </div>

  </body>
</html>
